/* */

html {
  background-image: url(./img/patrones2.jpg);
   
  }
/*
@media screen and (min-witdh: 900px) {
  div {
    background-color: aqua;
  }
}*/

/* .flex {
  background-color: skyblue;
  display: flex;
  border-radius: 30px 5px;
  flex-flow: row wrap;
  /* flex-direction: row; 
  flex-wrap: wrap; /*Esto permite que los flex ocupen otra linea
  gap: 10px 10px;
  justify-content: space-around;
  align-items: end;
  
}
.flex-item-10 {
  background-color: red;
  margin: 10px; /*margin es el espacio entre bloques
  padding: 20px;
  text-align: center;
  width: 300px; 
  /* flex-grow: 2;
  
}
.flex > div {
  background-color: red;
  margin: 10px; /*margin es el espacio entre bloques
  padding: 20px;
  text-align: center;
  width: 30px; /* Automáticamente les baja el tamaño a los div para que entren bien en la pantalla

} */

/* .grid {
 display: grid;
 background-color: violet;
 height: 600px; /*tamaño grilla*/
      /* grid-template-columns: 1fr 2fr 3fr;
      grid-template-rows: 100px 100px 100px;
 grid-template-columns: 2fr 3fr 4fr 1fr;
 grid-template-rows: 2fr 2fr 3fr 3fr;
 gap: 40px;
 grid-column-start: ;

  
} */

.grid1 {
  grid-column: 1 / 3 ;
  grid-row: 2 / span 3 ;
}

.grid > div{
  background-color: red;
  margin: 10px; /*margin es el espacio entre bloques*/
  padding: 20px;
  text-align: center;
  
}

.gridNuevo {
  display: grid;
  grid-template-areas:
  "Inicio Inicio Inicio Inicio"
  "Medio Medio MedioFeo MedioFeo"
  "Casi Casi Casi Casi"
  "Pie Pie Pie Pie" ;
}
.grid-Inicio{
  background-color: blue;
  height: 50px;
  grid-area: Inicio;
}
/*  
#Aloja {
  background-color: antiquewhite;
    border: solid 15px;#
    border-radius: 300px 5px ;
    color: red;
    text-align: center;
    font-size: 4em;
  }
header p{
    overflow: visible;
    border: 20px skyblue;
    font-style: oblique;
    font-size: 4em;
    font-variant-position: normal;
    padding:75px;
    text-decoration:underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-style: oblique;
    font-variant: small-caps;

   /* Todo lo que esta abajo es pa dejar una imagen bien de fondo manualmente paso a paso, sino podes usar el atajo "backgroung: background-color background-image background-repeat 
   background-attachment background-position" en ese orden, no tenes que poner el nombre, solo tenes que aclarar el valor que queres en cada uno*/

    /*background-color: rgb(146, 60, 185);
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;

    background: rgb(146, 60, 185) url(./img/1.jpg) no-repeat center center;
    background-attachment:fixed;
    background-size:contain;
       height: 200px;
  }
figure{
  position:absolute;
  top: 90px;
  right: 50px;
}
a:link{
  background-color: aqua;
}
#Rey{
 background-color: orange;
 width: 50px;
 height: 50px;
 transition: width 3s ease;
}
#Rey:hover{
  width: 100px;
} */
/* Estilo predeterminado del botón */
.boton {
  width: 100px;
  height: 40px;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 40px;
  transition: transform 0.3s; /* Agrega una transición suave de 0.3 segundos */
}

/* Estilo cuando el mouse está encima */
.boton:hover {
  transform: rotate(180deg); /* Rota el botón 180 grados cuando el mouse está encima */
}
